{% extends "base.html.twig" %}

{% block stylesheets %}
<style>
    .actions {
        margin-bottom: 16px;
    }

    .label {
        font-weight: 600;
    }

    .contact-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('contact_list') }}">Contacts</a>
{% endblock %}

{% block header %}
    {{ contact.firstName }} {{ contact.lastName }}
{% endblock %}

{% block body %}
    <div class="actions">
        <button>Edit</button>
    </div>
    <div class="contact-details">
        <div class="detail">
            <div class="label">Name</div>
            {{ contact.firstName }} {{ contact.lastName }}
        </div>

        <div class="detail">
            <div class="label">Email</div>
            {{ contact.email }}
        </div>
    </div>  
{% endblock %}
